{% extends 'base.html' %}

{% block content %}

{% load static %}

<h1>Home</h1>

<img src="{% static 'logo.jpg' %}" alt="" width="150px">

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam voluptates reprehenderit ducimus quaerat dolores, officiis ut aperiam, fuga harum a quidem. Provident voluptatem, facilis repellendus inventore vero quos distinctio reprehenderit libero dicta assumenda omnis autem modi temporibus consequuntur nisi rem doloremque! Nesciunt id facilis, aliquam quis consectetur similique eveniet? Voluptatum, doloremque facere amet fugiat hic veritatis perspiciatis sequi necessitatibus odit illum deleniti iusto sapiente sunt quas error, enim repellat expedita nihil voluptatibus vel. Porro vero aut molestias eligendi pariatur perferendis velit consectetur et! Sunt asperiores exercitationem ullam blanditiis qui fugiat voluptatum sint quia officia voluptate. Voluptates, dolore? Nostrum, animi quibusdam.</p>

{% endblock %}